PORT=8090
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=sqluser
DB_PASSWORD=yourpassword
DB_NAME=raiseaticket_db

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=30m
JWT_REFRESH_SECRET=change-me-refresh-in-production
JWT_REFRESH_EXPIRES_IN=30d

SEED_ADMIN_EMAIL=admin@asaind.co.in
SEED_ADMIN_PASSWORD=Admin123!

FRONTEND_URL=http://localhost:8091

MS_GRAPH_TENANT_ID=
MS_GRAPH_CLIENT_ID=
MS_GRAPH_CLIENT_SECRET=
MS_GRAPH_SENDER_EMAIL=noreply@asaind.co.in
EMAIL_METHOD=graph

AWS_S3_BUCKET_NAME=asaind-raiseaticket
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SEND_EMAIL_NOTIFICATIONS=false
SEND_REAL_NOTIFICATIONS=false
